<nb-card-header>Statistics</nb-card-header>
<div class="row">
    <div class="col-4 text-center">
        <curved-edges-arc-diagram [data]="test"></curved-edges-arc-diagram>
        <div class="stat-single-entry">
            <div class="statistics-dot purple"></div>
            35k in Transit
        </div>
        <div class="stat-single-entry">
            <div class="statistics-dot light-purple"></div>
            55k available
        </div>
        <div class="stat-single-entry">
            <div class="statistics-dot blue"></div>
            10k outgoing
        </div>
    </div>
    <div class="col-4 text-center">
        <curved-edges-arc-diagram [data]="test"></curved-edges-arc-diagram>
        <div class="stat-single-entry">
            <div class="statistics-dot purple"></div>
            193 Air
        </div>
        <div class="stat-single-entry">
            <div class="statistics-dot light-purple"></div>
            293 Ocean
        </div>
        <div class="stat-single-entry">
            <div class="statistics-dot blue"></div>
            35 Truck only
        </div>
    </div>
    <div class="col-4 text-center">
        <curved-edges-arc-diagram [data]="test"></curved-edges-arc-diagram>
        <div class="stat-single-entry">
            <div class="statistics-dot purple"></div>
            45k Air
        </div>
        <div class="stat-single-entry">
            <div class="statistics-dot light-purple"></div>
            30k Ocean
        </div>
        <div class="stat-single-entry">
            <div class="statistics-dot blue"></div>
            10k Truck only
        </div>
    </div>
</div>
