$border-gray: 1px solid #c9c9c9;

.modal-body {
  padding: 0;
  color: black;

  .side-borders {
    border-left: $border-gray;
    border-right: $border-gray;
  }

  .no-bottom-border {
    border-bottom: none;
  }

  .separation {
    margin: 0 0 1rem !important;
  }

  textarea {
    resize: none;
  }

  .title-modal {
    font-weight: bold;
  }

  h5.title-modal {
    padding: 0 20px;
  }

  .green-text { color: #3c763d; }

  #flight-select { width: 150px; }

  .left-offset { margin-left: 20px; }
}

.modal-header {
  background-color: #848591;
  color: #ffffff;
  .close span {
    color: #ffffff;
    cursor: pointer;
  }
}

.options-modal div.row.separation {
  padding: 2rem 20px 0;

  .col-md-11 {
    padding-left: 15px !important;
  }
}

.status-icon-container {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ccc;
  text-align: center;
  line-height: 60px;

  span {
    vertical-align: middle;
  }
}

.status-icon {
  display: inline-block;
  width: 70px;
  margin: -5px 0 0 -5px;
}