<div class="header-container row"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter col-md-8">
    <div class="logos-container">
      <img src="../../../../assets/images/main-logo.png" alt="Main Logo">
      <span class="welcome-message">Welcome</span>
    </div>
  </div>
  <div class="col-md-4 buttons-container">
    <button class="header-buttons"><span class="header-icons print"></span></button>
    <button class="header-buttons"><span class="header-icons faq"></span></button>
    <button class="header-buttons"><span class="header-icons notifications"></span></button>
    <span class="avatar-zone"><img src="../../../../assets/images/user_a_small.png"></span>
  </div>
</div>


